* {
    font-family: 'Exo', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    padding-left: 2em;
    height: 100vh;
    background-color: #02caf2;
}

header {
    flex: 0 100px;
    text-align: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    padding: 1em;
}

header #main-title {
    flex: 16;
    text-align: right;
}

header #login-register-buttons {
    flex: 9;
    text-align: right;
}

header #login-register-buttons div {
    padding: .5em;
}

main {
    flex: 4;
    
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 3;
    text-align: center;
    background-color: #557178;
}

.container {
    display: grid;
    grid-auto-rows: 50px;
    grid-gap: 1em;
  }

.main-content {
    flex: 20;
    display: flex;
    flex-direction: column;
    background-color: #8d99b4;
}

.extra {
    flex: 2;
    text-align: center;
    background-color: #c1a588;
}

.main-content div {
    text-align: center;
}

#main-title {
    font-size: xx-large;
    justify-content: center;
    flex: 3;
}

#main-title-text {
    transform: translate(0, 40%);
}

.input-group-text {
    flex: 2;
}

#input-textbox {
    width: 40%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
}

#button-area {
    flex: 2;
}

#input-area > #button-area > .button-group {
    transform: translate(-13.4%, 12%);
}

#answer-area {
    flex: 9;
    margin: 0 auto;
}

#answer-area > * {
    transform: translate(-75%, 0);
}

#answer-area label {
    transform: translate(-115%, 0);
}

#answer-text {
    width: 252%;
}

#answer-buttons {
    transform: translate(-16.1%, 13%);
}

footer {
    flex: 1;
    text-align: center;
}

.bookend {
    background-color: #1f8da7;
}

@media (max-height: 380px) {
    header {
        display: none;
    }

    footer {
        display: none;
    }
}

@media (max-width: 650px) {
    .sidebar {
        display: none;
    }

    .extra {
        display: none;
    }

    #answer-area {
        margin: 0 auto;
    }

    .form-group {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}
