body {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    padding-left: 2em;
    height: 100vh;
    background-color: #ffebc2;
}

header {
    flex: 0 100px;
    text-align: center;
}

main {
    flex: 4;
    
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 3;
    background-color: #5480e6;
}

.main-content {
    flex: 20;
    display: flex;
    flex-direction: column;
    background-color: #8d99b4;
}

.extra {
    flex: 2;
    background-color: orange;
}

.main-content div {
    text-align: center;
}

#main-title {
    flex: 2;
}

#input-string {
    flex: 1;
}

#button-area {
    flex: 5;
}

footer {
    flex: 1;
}

.bookend {
    background-color: #747881;
}

@media (max-height: 600px) {
    header {
        display: none;
    }

    footer {
        display: none;
    }
}
